/* Dealing with div whitespace issue:
see http://stackoverflow.com/questions/6871996/css-two-inline-block-width-50-elements-dont-stack */

.container {
    font-size: 0;
}


/* Box sizing */

* {
    box-sizing: border-box;
}


/* Assign styles here */

.wrapper {
	display: inline-block;
	font-size: 2rem;
	background-color: #dad9d9;
	border: 2px solid white;
	width: 100%;
}

#photo {
	height: 400px;
	background-color: grey;
}

#photo-label {
	font-size: 2rem;
	color: white;
	text-align: center;
}

@media screen and (min-width:768px) {
	.wrapper {
		width: 50%;
	}
	
	#photo-label {
		visibility: hidden;
	}

	#photo {
		background-image: url('../imgs/peacock.jpeg' );
		background-size: cover;
		background-repeat: no-repeat;
	}
}
